.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoList {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoContainer {
  margin: 10px;
  padding: 10px;
  /* max-width: 700px; */
  width: 100%;
  /* border: 1px solid #333; */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 15px;

  align-items: center;
}

.videoContainer .buttonContainer {
  display: flex;
  flex-direction: column;
}

.addVideoManually {
  display: flex;
  flex-direction: column;
}

.addVideoManually input,
.addVideoManually textarea {
  margin-top: 5px;
}

.dropContainer {
  height: 400px;
  width: 600px;
  border: 1px solid #333;
  margin-top: 30px;
}
